.navigation {
    list-style: none;
}

.navigation__link {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #939699;
    text-decoration: none;
}

.navigation__link:hover {
    text-decoration: underline;
}

.cart__btn {
    padding: 10px 20px 10px 50px;
    background: #4592FF;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
}

.cart__btn::before {
    content: '';
    background-image: url("../img/Cart.svg");
    position: absolute;
    width: 18px;
    height: 17px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.cart__btn span {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}